* {
    padding: 0;
    margin:0;
}

.beer-container {
    display: grid;
    padding:3%;
    border:8px solid black;
    background-color: rgb(238, 221, 201);
    height:400px;
    width:22%;

    .beer-container__image {
        height:180px;
        margin:auto;
    }

    .beer-container__name {
        padding-top:10px;
        font-size: 25px;
    }

    .beer-container__description {
        padding-top:10px;
        font-size: 18px;
    }
}
