@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Sigmar&display=swap');
* {
    padding:0;
    margin:0;
}

.filters {
    display:flex;
    justify-content: space-between;
    font-size: 22px;
    font-weight:600;
    padding-top:20px;
    font-family: Azeret Mono;

    .label {
        width:130px;
    }

    
}