@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Sigmar&display=swap');

* {
    margin:0;
    padding:0
}

.nav {
    background-color: rgb(73, 45, 45);
    color:rgb(217, 195, 129);
    border: 10px solid black;
    padding:20px;
    height:320px;
    max-width:400px;
    display:flex;
    flex-direction: column;
    align-items: center;

    .button {
        background-color: rgb(217, 195, 129);
        color:black;
        border: 3px solid black;
        text-decoration: none;
        text-align: center;
        border-radius: 10px;
        font-size: 26px;
        font-family: Azeret Mono;
        font-weight: 600;
        width:100px;
        padding:7px;
        margin-top:15%;
    }

    .buttons {
        display: flex;
        gap:20px;

    }

    button {
        background-color: rgb(217, 195, 129);
        color:black;
        border: 3px solid black;
        text-decoration: none;
        text-align: center;
        border-radius: 10px;
        font-size: 18px;
        font-family: Azeret Mono;
        font-weight: 600;
        width:120px;
        padding:5px;
        margin-top:10%;
    }
}